<br>
<br>
<br>
<div class="landing">
    <header class="header">
        <h1>Welcome to Our Bilingual Language Center</h1>
        <p>Your Path to Multilingual Excellence Begins Here</p>
        <a href="#contact" class="cta-button">Contact Us</a>
    </header>

    <section class="about">
        <div class="about-content">
            <h2>About Us</h2>
            <p>
                We are a premier language center committed to providing high-quality language education. Our experienced
                instructors and diverse course offerings make us your top choice for language learning.
            </p>
        </div>
        <div class="about-image">
            <img src="assets/landing/centro_lenguas.png" alt="Language Center">
        </div>
    </section>

    <section class="courses">
        <h2>Our Courses</h2>
        <div class="course-cards">
            <div class="course-card">
                <img src="assets/landing/wayuu.jpg" alt="Wayuu Course">
                <h3>Wayuunaiki</h3>
                <p>Learn to speak and understand Wayuunaiki with our expert instructors.</p>
            </div>
            <div class="course-card">
                <img src="assets/landing/ingles.jpg" alt="English Course">
                <h3>English</h3>
                <p>Master the English language and improve your communication skills.</p>
            </div>
            <div class="course-card">
                <img src="assets/landing/francesa.jpg" alt="French Course">
                <h3>French</h3>
                <p>Discover the beauty of the French language and culture.</p>
            </div>
        </div>
    </section>

    <section id="contact" class="contact">
        <h2>Contact Us</h2>
        <p>If you have any questions or would like to enroll in one of our courses, please don't hesitate to get in
            touch with us. We're here to help!</p>
        <a href="mailto:contact@bilinguallanguagecenter.com" class="cta-button">Email Us</a>
    </section>

    <section class="testimonials">
        <div class="container">
          <h2>What Our Students Say</h2>
          <div class="testimonial-cards">
            <div class="testimonial-card">
              <p>"This language center changed my life. I'm now fluent in Spanish and loving every moment of it!"</p>
              <p class="testimonial-author">- Maria S.</p>
            </div>
            <div class="testimonial-card">
              <p>"Learning English at this center was a fantastic experience. I'm grateful for the supportive teachers."</p>
              <p class="testimonial-author">- John D.</p>
            </div>
          </div>
        </div>
      </section>
</div>